// Synthesized by gantry build - regenerated every run, never hand-edited.
// Put custom Kotlin/resources in mobile/android/ instead (overlay-copied
// on top of this project).
pluginManagement {
    repositories {
        google()
        mavenCentral()
        gradlePluginPortal()
    }
}
dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.FAIL_ON_PROJECT_REPOS)
    repositories {
        google()
        mavenCentral()
    }
}

rootProject.name = "[[.Name]]"
include(":app")
