<?xml version="1.0" encoding="utf-8"?>
<!-- Synthesized by gantry build - regenerated every run, never hand-edited. -->
<appwidget-provider xmlns:android="http://schemas.android.com/apk/res/android"
    android:minWidth="[[.MinWidthDp]]dp"
    android:minHeight="[[.MinHeightDp]]dp"
    android:targetCellWidth="[[.TargetW]]"
    android:targetCellHeight="[[.TargetH]]"
[[if .MaxWidthDp]]    android:maxResizeWidth="[[.MaxWidthDp]]dp"
    android:maxResizeHeight="[[.MaxHeightDp]]dp"
[[end]]    android:resizeMode="[[.Resize]]"
    android:updatePeriodMillis="0"
    android:widgetCategory="home_screen" />
